
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #388874;
    --dark-color: rgb(19, 19, 19);
    --pale-color: rgb(241, 241, 241);
    --shadow-color: rgb(197, 197, 197);
}

body {
    text-align: center;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(24, 24, 24);
    background-color: var(--accent-color);
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div .title {
    margin: 1em;
    color: white;
}

.menu {
    margin-bottom: 20vh;
    padding: 0.5em;
    display: grid;
    text-align: left;
    grid-template-columns: 30px 1fr;
    width: fit-content;
    background: var(--pale-color);
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 4px var(--shadow-color);
    border-radius: 12px;
}

.menu a {
    padding: 6px 7px;
    margin: 6px 4px 6px 10px;
    color: rgb(24, 24, 24);
    text-decoration: none;
    border: 1px dashed var(--shadow-color);
    border-radius: 12px;
}

.menu a:hover {
    background: var(--shadow-color);
    text-shadow: 1px 2px 1px var(--pale-color);
}

.f-icon {
    justify-self: right;
    align-self: center;
    padding: 0px 2px 0px 0px;
}