
/* RESET */
* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    color: rgb(24, 24, 24);
    --pale-color: rgb(241, 241, 241);
    --shadow-color: rgb(197, 197, 197);
}

a {
    padding: 6px 7px 6px 7px;
    margin: 6px 4px 6px 10px;
    color: rgb(24, 24, 24);
    text-decoration: none;
    border: 1px dashed var(--shadow-color);
    border-radius: 12px;
}

a:hover {
    background: var(--shadow-color);
    text-shadow: 1px 2px 1px var(--pale-color);
    font-weight: 600;
}

.container {
    display: grid;
    position: absolute;
    text-align: left;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
    padding: 3px 5px 3px 0px;
    background: var(--pale-color);
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 4px var(--shadow-color);
    border-radius: 12px;
}

.f-icon {
    justify-self: right;
    align-self: center;
    padding: 0px 2px 0px 0px;
}