* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: rgb(211, 211, 211);
    --clr-secondary: rgb(255, 255, 255);
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: rgb(27, 27, 27);
    background-color: var(--clr-secondary);
}

header, main {
    display: flex;
    padding: 0.5em;
}

header
{
    padding-left: 2.3em;
    width: auto;
    min-height: 5em;
    justify-content: space-between;
    align-items: flex-end;
    text-shadow: 0 0.1em 0.1em var(--clr-secondary);
    box-shadow: 0 0.03em 0.1em 0.1em rgba(14, 14, 14, 0.192);
    background-color: var(--clr-primary);
    background-image: url(https://images.pexels.com/photos/1235706/pexels-photo-1235706.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-position: 100% 50%;
    background-blend-mode: screen;
    background-repeat: no-repeat;
}

header h1 {
    margin-left: 0.1em;
    margin-bottom: 0.1em;
    font-family: 'Oleo Script', Helvetica, sans-serif;
}

.header-img {

    width: px;
    height: auto;
    object-fit: contain;
}

main {
    font-size: 0.95rem;
    margin: 1em 2em;
    line-height: 1.6em;
}

@media (max-width: 500px) {
    header {
    background-position: 300% 50%;
    }
}